<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width , initial-scale=1">
<!--Google Fonts CDN-->
<link href="https://fonts.googleapis.com/css?family=Lato|Montserrat|Poppins|Quattrocento+Sans|Josefin+Sans" rel="stylesheet">

<title> Email</title>
</head>
<body style="font-family: 'Lato', sans-serif;">
<div style="width:600px;margin: 0 auto">
<div style="background:#82ddf7;">
<img src="images/logo.png" style="margin: 25px 1px 25px 35px;">
<div style="float: right"> 
    <p style="margin-top: 40px;margin-right: 33px"> Call : +91 9553113456  </p>
    <div style="float: right;margin-right: 35px">
    <a href="#" style="text-decoration: none"><img src="images/fb.png"> </a> 
    <a href="#" style="text-decoration: none"><img src="images/tw.png"> </a>  
    <a href="#" style="text-decoration: none"><img src="images/in.png"> </a>  
    <a href="#" style="text-decoration: none"><img src="images/yt.png"> </a>
    </div>
    </div></div>
<div style="border: 1px solid #ccc;text-align: center">

 <h4>Hi JIJA ,</h4>
<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
<h4><b>Your Login Details</b></h4>

<div style="background: #e8e2e2;padding: 1px;text-align: center;margin:0px 50px">
    <p>Email Address : <a href="#">jija@gmail.com</a></p>
</div>
    
    <h4><b>Important Security Tips</b></h4>
<div style="background: #e8e2e2;padding: 5px;text-align: left;margin:10px 40px 0px">
    <div style="padding: 0px 17px">
    <p>1. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>   
    <p>2. Lorem Ipsum is simply dummy text of the printing and typesetting industry text of the printing and typesetting industry.</p>   
    <p>3. Lorem Ipsum is simply dummy text of the printing and of the printing and typesetting industry.</p>   
    
</div>
</div>
    <button type="button" style="padding: 10px 20px;background: #0a91d9; color: #fff;margin-bottom: 15px;margin-top: 10px"> Contact us</button>
</div>
<div style="background: #ccc;padding: 1px;text-align: center">
<h5 style="margin-bottom: 10px;margin-top: 10px">Thanks &amp; Regrads</h5>  
<h5 style="margin-top: 0px;margin-bottom: 10px"><b>TRP3.COM</b></h5>
</div>
</div>
</body>
</html>